body {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.level-container {
    text-align: center;
    margin-top: 20px;
}

.level {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px;
}

.main-circle-container {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-image: linear-gradient(120deg, #f6d365 0%, #f35b33 100%);
    transition: width 6s ease-out, height 6s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.breathing {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

.main-circle-container-large {
    width: 400px;
    height: 400px;
    transition: width 6s ease-out, height 6s ease-out;
}

.border-circle-container {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    background-color: transparent;
    border:2px dashed white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: width 6s ease-out, height 6s ease-out;
}

.border-circle-container:hover {
    width: 425px;
    height: 425px;
    border-radius: 50%;
}

.progress-circle-container {
    width: 100%;
    background-color: transparent;
    margin-top: 130px;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.circle-one, .circle-two, .circle-three {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    border: solid white 1px;
}

.one, .two, .three {
    text-align: center;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 40px;
}

.message {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

.next-level-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f6d365;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
}

.next-level-btn:hover {
    background-color: #f35b33;
}

.button-container {
    display: flex;
    justify-content: flex-end; /* Aligns items to the end (right) of the container */
    margin-right: 20px; /* Optional: Adds margin to the right */
}
.finish-btn {
    position: absolute;
    top: 10px; /* Adjust top positioning as needed */
    right: 20px; /* Adjust right positioning as needed */
}