.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 50px; 
}

.feature-box {
    position: relative;
    width: 250px;
    height: 300px;
    background-size: cover;
    background-position: center;
    margin: 20px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.feature-box h3,
.feature-box p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    transition: opacity 0.3s;
}

.feature-box p {
    opacity: 0;
}

.feature-box:hover h3 {
    opacity: 0;
}

.feature-box:hover p {
    opacity: 1;
}

/* CSS for the greeting section */
.greeting {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
}
